---
import App from "../components/App.astro"

---
<!DOCTYPE html>
<html lang="fi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tekstiksi</title>
	<link rel="shortcut icon" href="/tekstiksi/favicon.svg" type="image/x-icon">
</head>
<body style="background-image: url(/tekstiksi/bg.jpg);" class="bg-cover">
	<p class="p-5 text-xs absolute xl:top-0 bottom-0 left-0 right-0 text-center text-white opacity-75 font-light">Tämä sovellus käyttää <a href="https://huggingface.co/spaces/hf-audio/whisper-large-v3">Whisperiä</a> tekstin tuottamiseen ja <a href="https://huggingface.co/spaces/Qwen/Qwen2-72B-Instruct">Qweniä</a> sen muotoiluun ilmaisien API:en kautta. Tutustu heidän tietosuojalausekkeisiin saadakseen tarkempaa tietoa. <a href="https://codeberg.org/jaahas/tekstiksi">Lähdekoodimme</a> on avoimesti saatavilla.</p>
	<div class="bg-black bg-opacity-20 xl:w-2/3 xl:m-auto xl:mt-20 m-5 rounded-2xl xl:p-20 p-5 text-white backdrop-blur-3xl">
		<div class="mb-10 pt-5">
			<label for="audio-file" class="bg-cyan-800 font-bold bg-opacity-50 p-5 rounded-2xl text-white text-2xl text-center">
				Valitse äänitiedosto
			</label>	
		</div>
		<input id="audio-file" type="file" class="hidden">
		<div class="flex justify-between">
			<button id="to-text" class="bg-purple-800 font-bold bg-opacity-50 p-5 rounded-2xl text-white text-2xl text-center">Tekstiksi</button>
			<button id="copy" class="bg-green-800 font-bold bg-opacity-50 p-6 rounded-2xl text-white text-2xl text-center hidden"><img src="/tekstiksi/copy.svg" alt="Kopioi" srcset=""></button>
		</div>
		<img id="loading" src="/tekstiksi/loading.gif" class="hidden">
		<div class="mt-10 text-white text-lg font-medium">
			<p id="text"></p>
		</div>
		<button id="to-formatted-text" class="mt-10 bg-indigo-800 font-bold bg-opacity-50 p-5 rounded-2xl text-white text-2xl text-center hidden">Muotoile</button>
	</div>
	<App />
</body>
</html>